# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Jose\Documents\Universidad\URL 2021\Primer Ciclo\Inteligencia Artificial\Tareas\Laboratorios\UnitTests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
